@model TimViec.Models.ApplicationUser

@{
    ViewData["Title"] = "Account_Admin";
}

<link href="~/Admin/css/profileAdmin.css" rel="stylesheet" />
	<div class="container">		
		<div class="row gutters">
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="account-settings">
							<div class="user-profile">
								<div class="user-avatar">
									<img src="~/LayoutTimViec/img/user.jpg" alt="Alternate Text" />
								</div>
						<h5 class="user-name">@Html.DisplayFor(model => model.Fullname)</h5>

						<h6 class="user-email">@Html.DisplayFor(model => model.Email)</h6>
							</div>
							<div class="about">
								<h5>Giới thiệu</h5>
						<p>Tôi là @Html.DisplayFor(model => model.Fullname). Admin của Website tìm kiếm việc làm</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Chi tiết cá nhân</h6>
							</div>
							<form asp-action="Account_Admin" enctype="multipart/form-data">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<input type="hidden" asp-for="Id" />
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="Firstname" class="control-label">Họ</label>
										<input asp-for="Firstname" class="form-control" placeholder="Nhập họ và tên" />
										<span asp-validation-for="Firstname" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="Lastname" class="control-label">Tên</label>
										<input asp-for="Lastname" class="form-control" placeholder="Nhập email" />
										<span asp-validation-for="Lastname" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="Fullname" class="control-label">Họ và tên</label>
										<input asp-for="Fullname" class="form-control" placeholder="Nhập họ và tên" />
										<span asp-validation-for="Fullname" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="Email" class="control-label">Email</label>
										<input asp-for="Email" class="form-control" placeholder="Nhập email" />
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
										<input asp-for="PhoneNumber" class="form-control" placeholder="Nhập số điện thoại"/>
										<span asp-validation-for="PhoneNumber" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="Birth">Ngày sinh</label>
										<input asp-for="Birth" class="form-control" placeholder ="Nhập ngày sinh"/>
										<span asp-validation-for="Birth" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label asp-for="avatar">Thay đổi avatar</label>
										<input type="file" asp-for="avatar" class="form-control" placeholder ="Chọn ảnh"/>
										<span asp-validation-for="avatar" class="text-danger"></span>
									</div>
								</div>
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="from-group">
									<input type="submit" id="submit" name="submit" value="Cập nhật" class="btn btn-primary">
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

