<!Doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/font-awesome.min.css">

	<!--linear icon css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/linearicons.css">

	<!--animate.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/animate.css">

	<!--flaticon.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/flaticon.css">

	<!--slick.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/slick.css">
	<link rel="stylesheet" href="../../LayoutTimViec/css/slick-theme.css">

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/bootstrap.min.css">

	<!-- bootsnav -->
	<link rel="stylesheet" href="../../LayoutTimViec/css/bootsnav.css">

	<!--style.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/style.css" type="text/css">

	<!--responsive.css-->
	<link rel="stylesheet" href="../../LayoutTimViec/css/responsive.css">
	<!-- title of site -->
	<title>Tìm việc làm</title>

	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="../../LayoutTimViec/logo/logo.png" />
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	<!--header-top start -->

	<header id="header-top" class="header-top">
		<ul>
			<li>
				<div class="header-top-left" >
					<ul>
						<li class="select-opt">
							<select name="language" id="language" onchange="translateEN()">
								<option value="EN">English</option>
								<option value="VN">Vietnamese</option>
							</select>
						</li>
					</ul>
				</div>							
			</li>
			<li class="head-responsive-right pull-right">
				<div class="header-top-right">
					<ul>
						<partial name="_LoginPartial"/>
					</ul>
				</div>
			</li>
		</ul>

	</header><!--/.header-top-->
	<!--header-top end -->
	<!-- top-area Start -->
	<section class="top-area">
		<div class="header-area">
			<!-- Start Navigation -->
			<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				<div class="container">

					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
							<i class="fa fa-bars"></i>
						</button>
						<a style="font-size: 60px" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dev<span>IT</span></a>

					</div><!--/.navbar-header-->
					<!-- End Header Navigation -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class=" scroll active"><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
							<li class="scroll"><a href="#works">Công ty IT</a></li>
							<li class="scroll"><a href="#explore">Công ty phổ biến</a></li>
							<li class="scroll"><a href="#reviews">Công ty phổ biến</a></li>
							<li class="scroll"><a href="#blog">Blog</a></li>
							<li class="scroll"><a asp-area="" asp-controller="Home" asp-action="Profile">Cá nhân</a></li>

						
						</ul><!--/.nav -->
					</div><!-- /.navbar-collapse -->
				</div><!--/.container-->
			</nav><!--/nav-->
			<!-- End Navigation -->
		</div><!--/.header-area-->
		<div class="clearfix"></div>

	</section><!-- /.top-area-->
	<!-- top-area End -->
	@RenderBody()
	<div class="containers" id="myOverlay">
		<div class="container_overlay"></div>
		<form>
			<div class="form">
				<div class="form-header">
					<div class="form-title">
						<h2>Bạn đang ứng tuyển <span style="color: red;">BackEnd Developer</span> </h2>
					</div>
					<div class="icon-x">
						<i class="fa-solid fa-x" style="color: #01080e;"></i>
					</div>
				</div>
				<hr>
				<div class="form-about">
					<label for="fullName" class="form-about_title">Họ và Tên:</label><br>
					<input type="text" id="fullName" name="fullName" placeholder="Nguyễn Văn A" class="form-about_input" required><br>
					<label for="email" class="form-about_title">Email:</label><br>
					<input type="email" id="email" name="email" placeholder="hohatquang890@gmail.com" class="form-about_input" required><br>
					<label for="phoneNumber" class="form-about_title">Số điện thoại:</label><br>
					<input type="tel" id="phoneNumber" name="phoneNumber" placeholder="09861258968" class="form-about_input" required><br>
					<label for="phoneNumber" class="form-about_title">CV của bạn:</label><br>
					<input type="file" id="phoneNumber" name="phoneNumber" placeholder="Bỏ file cv bạn ở đây" class="form-about_input" required><br>
					<label for="phoneNumber" class="form-about_title">Đoạn giới thiệu bản thân hoặc link portfolio:</label><br>
					<input type="tel" id="phoneNumber" name="phoneNumber" class="form-about_input" required><br>
				</div>
				<div class="form-accept">
					<div class="form-accpet_1">
					</div>
					<div class="form-accpet_2">
						Tôi đã đọc và đồng ý với <span style="color: black;">Điều khoản sử dụng</span> và <span style="color: black;">Chính sách bảo mật</span> của TopDev.
					</div>

				</div>
				<div class="footer-form">
					<button class="huy" id="closeBtn">Hủy</button>
					<button class="xacnhan">Nộp CV</button>
				</div>

			</div>
		</form>
	</div>
	<!--footer start-->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-menu">
				<div class="row">
					<div class="col-sm-3">
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">list<span>race</span></a>
						</div><!--/.navbar-header-->
					</div>
					<div class="col-sm-9">
						<ul class="footer-menu-item">
							<li class="scroll"><a href="#works">how it works</a></li>
							<li class="scroll"><a href="#explore">explore</a></li>
							<li class="scroll"><a href="#reviews">review</a></li>
							<li class="scroll"><a href="#blog">blog</a></li>
							<li class="scroll"><a href="#contact">contact</a></li>
							<li class=" scroll"><a href="#contact">my account</a></li>
						</ul><!--/.nav -->
					</div>
				</div>
			</div>
			<div class="hm-footer-copyright">
				<div class="row">
					<div class="col-sm-5">
						<p>
							&copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
						</p><!--/p-->
					</div>
					<div class="col-sm-7">
						<div class="footer-social">
							<span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>

			</div><!--/.hm-footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.footer-->
	<!--footer end-->
	<!-- Include all js compiled plugins (below), or include individual files as needed -->
	<script src="../../LayoutTimViec/js/bootsnav.js"></script>

	<script src="../../LayoutTimViec/js/site.js"></script>

	<script src="../../LayoutTimViec/js/jquery.js"></script>

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="../../LayoutTimViec/js/bootstrap.min.js"></script>

	<!-- bootsnav js -->

	<!--feather.min.js-->
	<script src="../../LayoutTimViec/js/feather.min.js"></script>

	<!-- counter js -->
	<script src="../../LayoutTimViec/js/jquery.counterup.min.js"></script>
	<script src="../../LayoutTimViec/js/waypoints.min.js"></script>

	<!--slick.min.js-->
	<script src="../../LayoutTimViec/js/slick.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!--Custom JS-->
	<script src="../../LayoutTimViec/js/custom.js"></script>
	
</body>

</html>