@model IEnumerable<TimViec.Models.Company>
@{
	ViewData["Title"] = "Job";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<section id="explore" class="explore">
	<div class="container">
		<div class="section-header">
			<h2>Danh sách công ty</h2>

		</div><!--/.section-header-->
		<div class="explore-content">
			<div class="row">

				@foreach (var item in Model)
				{
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img style="height: 200px; width: 100%" src="~/LayoutTimViec/img/@item.Image" alt="explore image">
								<div class="single-explore-img-info">
									<button onclick="window.location.href='#'" style="width: 35px;height: 37px;">
										<img src="~/LayoutTimViec/img/save.png" />
									</button>
								</div>
							</div>
							<div class="single-explore-txt bg-theme-1">
								<h2><a asp-action="Details_CPN" asp-route-id="@item.Id">@item.Name_company</a></h2>
								<p class="explore-rating-price">
									<span class="explore-rating">5.0</span>
									<a href="#">Quy mô: @item.Company_size</a>
								</p>
								<div class="explore-person">
									<div class="row">
										<div class="col-sm-10">
										</div>
									</div>
								</div>
								<div class="explore-open-close-part">
									<div class="row">
										<div class="col-sm-5">
											<button class="close-btn" onclick="window.location"><a asp-action="Details_CPN" asp-route-id="@item.Id">Chi tiết</a></button>
										</div>
										<div class="col-sm-7">
											<div class="explore-map-icon">
												<a href="#"><i data-feather="map-pin"></i></a>
												<a href="#"><i data-feather="upload"></i></a>
												<a href="#"><i data-feather="heart"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->