@model IEnumerable<TimViec.Models.Company>

@{
    ViewData["Title"] = "Details_Company";
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<!--font-awesome.min.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/font-awesome.min.css">

<!--linear icon css-->
<link rel="stylesheet" href="../LayoutTimViec/css/linearicons.css">

<!--animate.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/animate.css">

<!--flaticon.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/flaticon.css">

<!--slick.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/slick.css">
<link rel="stylesheet" href="../LayoutTimViec/css/slick-theme.css">

<!--bootstrap.min.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/bootstrap.min.css">

<!-- bootsnav -->
<link rel="stylesheet" href="../LayoutTimViec/css/bootsnav.css">

<!--style.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/style.css">

<!--responsive.css-->
<link rel="stylesheet" href="../LayoutTimViec/css/responsive.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<div class="main-tablet bg-light-grey ipt-md-8 ipt-0">
    <div class="icontainer">
        <div class="row gx-0 igx-md-7">
            <div class="col-md-8">

                <div class="bg-it-white box-shadow-medium border-radius-large-md imb-5" data-employers--scroll-target="tabs">
                    <ul class="itabs ips-md-6">
                        <li class="item">
                            <a data-controller="utm-tracking" class="tab-link active" href="/companies/luxoft-vietnam">Overview</a>
                        </li>
                        <li class="item">
                            <a data-controller="utm-tracking" class="tab-link" href="/companies/luxoft-vietnam/review">
                                Reviews
                                <div class="badge-counter ims-2">39</div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bg-it-white box-shadow-medium border-radius-large-md ipx-5 ipt-6 ipb-8 imb-5 ip-md-6 ipb-md-8">
                    <h2 class="border-bottom-dashed ipb-4">
                        General information
                    </h2>
                    <div class="row gx-0 ipt-md-4">
                        <div class="col-md-4 d-flex flex-md-column justify-content-between border-bottom-dotted-sm ipy-2 ipy-md-0">
                            <div class="text-dark-grey ifs-md-14">
                                Company type
                            </div>
                            <div class="normal-text">
                                IT Outsourcing
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-md-column justify-content-between border-bottom-dotted-sm ipy-2 ipy-md-0">
                            <div class="text-dark-grey ifs-md-14">
                                Company size
                            </div>
                            <div class="normal-text">
                                51-150
                                employees
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-md-column justify-content-between border-bottom-dotted-sm ipy-2 ipy-md-0">
                            <div class="text-dark-grey ifs-md-14">
                                Country
                            </div>
                            <div class="d-flex align-items-center">

                                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                                    <symbol id="us-flag" viewBox="0 0 512 512">
                                        <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256" />
                                        <g>
                                            <path style="fill:#D80027;" d="M244.87,256H512c0-23.106-3.08-45.49-8.819-66.783H244.87V256z" />
                                            <path style="fill:#D80027;" d="M244.87,122.435h229.556c-15.671-25.572-35.708-48.175-59.07-66.783H244.87V122.435z" />
                                            <path style="fill:#D80027;" d="M256,512c60.249,0,115.626-20.824,159.356-55.652H96.644C140.374,491.176,195.751,512,256,512z" />
                                            <path style="fill:#D80027;" d="M37.574,389.565h436.852c12.581-20.529,22.338-42.969,28.755-66.783H8.819
                 C15.236,346.596,24.993,369.036,37.574,389.565z" />
                                        </g>
                                        <path style="fill:#0052B4;" d="M118.584,39.978h23.329l-21.7,15.765l8.289,25.509l-21.699-15.765L85.104,81.252l7.16-22.037
                 C73.158,75.13,56.412,93.776,42.612,114.552h7.475l-13.813,10.035c-2.152,3.59-4.216,7.237-6.194,10.938l6.596,20.301l-12.306-8.941
                 c-3.059,6.481-5.857,13.108-8.372,19.873l7.267,22.368h26.822l-21.7,15.765l8.289,25.509l-21.699-15.765l-12.998,9.444
                 C0.678,234.537,0,245.189,0,256h256c0-141.384,0-158.052,0-256C205.428,0,158.285,14.67,118.584,39.978z M128.502,230.4
                 l-21.699-15.765L85.104,230.4l8.289-25.509l-21.7-15.765h26.822l8.288-25.509l8.288,25.509h26.822l-21.7,15.765L128.502,230.4z
                 M120.213,130.317l8.289,25.509l-21.699-15.765l-21.699,15.765l8.289-25.509l-21.7-15.765h26.822l8.288-25.509l8.288,25.509h26.822
                 L120.213,130.317z M220.328,230.4l-21.699-15.765L176.93,230.4l8.289-25.509l-21.7-15.765h26.822l8.288-25.509l8.288,25.509h26.822
                 l-21.7,15.765L220.328,230.4z M212.039,130.317l8.289,25.509l-21.699-15.765l-21.699,15.765l8.289-25.509l-21.7-15.765h26.822
                 l8.288-25.509l8.288,25.509h26.822L212.039,130.317z M212.039,55.743l8.289,25.509l-21.699-15.765L176.93,81.252l8.289-25.509
                 l-21.7-15.765h26.822l8.288-25.509l8.288,25.509h26.822L212.039,55.743z" />
                                    </symbol>
                                </svg>
                                <div class="d-inline-block"><svg class="feather-icon align-middle ime-1 flag-icon icon-md"><use xlink:href="#us-flag"></use></svg><span class="align-middle">United States</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-0 ipt-md-4">
                        <div class="col-md-4 d-flex flex-md-column justify-content-between border-bottom-dotted-sm ipy-2 ipy-md-0">
                            <div class="text-dark-grey ifs-md-14">
                                Working days
                            </div>
                            <div class="normal-text">
                                Monday - Friday
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-md-column justify-content-between ipy-2 ipy-md-0">
                            <div class="text-dark-grey ifs-md-14">
                                Overtime policy
                            </div>
                            <div class="normal-text">
                                Extra salary for OT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-it-white box-shadow-medium border-radius-large-md ipx-5 ipt-6 ipb-8 imb-5 ip-md-6 ipb-md-8">
                    <h2 class="border-bottom-dashed ipb-4">
                        Company overview
                    </h2>
                    <div class="paragraph ipt-4 text-break text-contain-hyperlink">
                        Join Luxoft Vietnam to turbocharge your professional development
                        <p><strong>Luxoft</strong>, a DXC Technology Company, (NYSE: DXC), is a digital strategy and software engineering firm providing bespoke technology solutions that drive business change for customers the world over. Luxoft uses technology to enable business transformation, enhance customer experiences, and boost operational efficiency through its strategy, consulting, and engineering services. Luxoft combines a unique blend of engineering excellence and deep industry expertise, specializing in automotive, financial services, travel and hospitality, healthcare, life sciences, media and telecommunications. For more information, please visit <a href="www.luxoft.com">www.luxoft.com</a>.</p>
                    </div>
                    <div class="d-flex flex-column flex-md-row paragraph border-top-dashed imt-4">
                        <div class="d-flex align-items-center cursor-pointer ipt-4 ipe-4" data-action="click-&gt;redirect-url#handleRedirectUrl" data-controller="tooltip redirect-url" data-redirect-url-url-value="http://career.luxoft.com/">
                            <svg class="feather-icon icon-md hyperlink">
                                <use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#globe"></use>
                            </svg>
                            <div class="hyperlink ips-1">
                                Company website
                            </div>
                        </div>
                        <div class="d-flex align-items-center cursor-pointer ipt-4" data-action="click-&gt;redirect-url#handleRedirectUrl" data-controller="tooltip redirect-url" data-redirect-url-url-value="https://www.facebook.com/luxoftvn/">
                            <svg class="feather-icon icon-md hyperlink">
                                <use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#facebook"></use>
                            </svg>
                            <div class="hyperlink ips-1">
                                Fanpage Facebook
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-it-white box-shadow-medium border-radius-large-md ipx-5 ipt-6 ipb-8 imb-5 ip-md-6 ipb-md-8">
                    <h2 class="border-bottom-dashed ipb-4">
                        Our key skills
                    </h2>
                    <div class="paragraph text-break">
                        <div class="ipt-4">
                            <span class="translation_missing" title="translation missing: en.employer.tech_stack_title.Our key skills">Our Key Skills</span>
                        </div>
                        <div class="d-flex flex-wrap igap-3 ipt-4">
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/c++?click_source=Skill+tag">C++</a>
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/c-language?click_source=Skill+tag">C language</a>
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/embedded?click_source=Skill+tag">Embedded</a>
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/java?click_source=Skill+tag">Java</a>
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/tester?click_source=Skill+tag">Tester</a>
                            <a target="_blank" data-controller="utm-tracking" class="itag itag-sm itag-light" href="/it-jobs/qa-qc?click_source=Skill+tag">QA QC</a>
                        </div>
                        <div class="ipt-4 text-contain-hyperlink">
                        </div>
                    </div>
                </div>
                <div class="bg-it-white box-shadow-medium border-radius-large-md ipx-5 ipt-6 ipb-8 imb-5 ip-md-6 ipb-md-8">
                    <h2 class="border-bottom-dashed ipb-4">
                        Why you&#39;ll love working here
                    </h2>
                    <div class="position-relative" data-controller="read-more" data-read-more-target="container">
                        <div data-read-more-target="content">
                            <ul class="paragraph ipt-4 text-break">
                                <li class="ipy-1 fw-700">Great Challenges</li>
                                <li class="ipy-1 fw-700">Global Opportunities</li>
                                <li class="ipy-1 fw-700">Personal Growth</li>
                            </ul>
                            <div class="jd-photos ipt-2 ipb-6">
                                <div class="slider-photos overflow-hidden">
                                    <div class="d-grid align-items-center igap-1 photo-grid" data-controller="jobs--jd-photos" data-jobs--jd-photos-show-headline-value data-jobs--jd-photos-url-value="/companies/luxoft-vietnam/jd_photos">
                                        <div class="col position-relative cursor-pointer">
                                            <picture data-action="click-&gt;jobs--jd-photos#open">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMHZFSlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--41d5c775f0f8a293a1d62bd047f05e3b2c2b50d1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRSVVBV2tCdURvSlkzSnZjRnNKYVFCcEFHa0NGQUZwQWJnPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d8a3eb368df546d7b32fdaac0e2c713bdc764d66/2-422117_EB_General%20Banners%20request%20for%20APAC%20for%20recruitment%20campaign_1024x500.jpg" media="(min-width:576px)">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMHZFSlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--41d5c775f0f8a293a1d62bd047f05e3b2c2b50d1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRR0dhVjQ2Q1dOeWIzQmJDV2tBYVFCcEFZWnBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d1779d22b72f6853b4577dd22c82404c6b0a3869/2-422117_EB_General%20Banners%20request%20for%20APAC%20for%20recruitment%20campaign_1024x500.jpg" media="(max-width:575px)">
                                                <img class="border-radius-normal w-100 w-md-auto" data-controller="lazyload" data-index="0" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMHZFSlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--41d5c775f0f8a293a1d62bd047f05e3b2c2b50d1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWhRQmFRRzRPZ2xqY205d1d3bHBBR2tBYVFJVUFXa0J1QT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--31ad030a4f0bfbe0b7ef2a3f041666e437907425/2-422117_EB_General%20Banners%20request%20for%20APAC%20for%20recruitment%20campaign_1024x500.jpg">
                                            </picture>
                                        </div>
                                        <div class="col position-relative cursor-pointer">
                                            <picture data-action="click-&gt;jobs--jd-photos#open">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNUxSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--08b27ff329c1424b7fd2d8c49a6bb22736a9267c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRSVVBV2tCdURvSlkzSnZjRnNKYVFCcEFHa0NGQUZwQWJnPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d8a3eb368df546d7b32fdaac0e2c713bdc764d66/SIM-411.jpg" media="(min-width:576px)">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNUxSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--08b27ff329c1424b7fd2d8c49a6bb22736a9267c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRR0dhVjQ2Q1dOeWIzQmJDV2tBYVFCcEFZWnBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d1779d22b72f6853b4577dd22c82404c6b0a3869/SIM-411.jpg" media="(max-width:575px)">
                                                <img alt class="border-radius-normal w-100 w-md-auto" data-controller="lazyload" data-index="1" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNUxSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--08b27ff329c1424b7fd2d8c49a6bb22736a9267c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWhRQmFRRzRPZ2xqY205d1d3bHBBR2tBYVFJVUFXa0J1QT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--31ad030a4f0bfbe0b7ef2a3f041666e437907425/SIM-411.jpg">
                                            </picture>
                                        </div>
                                        <div class="col position-relative cursor-pointer">
                                            <picture data-action="click-&gt;jobs--jd-photos#open">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMDNSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--ea7e2ea53e0f03ea402281ec7ead004d7d46a645/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRSVVBV2tCdURvSlkzSnZjRnNKYVFCcEFHa0NGQUZwQWJnPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d8a3eb368df546d7b32fdaac0e2c713bdc764d66/SIM-4975.jpg" media="(min-width:576px)">
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMDNSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--ea7e2ea53e0f03ea402281ec7ead004d7d46a645/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRR0dhVjQ2Q1dOeWIzQmJDV2tBYVFCcEFZWnBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d1779d22b72f6853b4577dd22c82404c6b0a3869/SIM-4975.jpg" media="(max-width:575px)">
                                                <img alt class="border-radius-normal w-100 w-md-auto" data-controller="lazyload" data-index="2" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMDNSUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--ea7e2ea53e0f03ea402281ec7ead004d7d46a645/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWhRQmFRRzRPZ2xqY205d1d3bHBBR2tBYVFJVUFXa0J1QT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--31ad030a4f0bfbe0b7ef2a3f041666e437907425/SIM-4975.jpg">
                                                <div class="img-overlay position-absolute bg-it-black opacity-50 w-100 h-100 top-0 start-0 justify-content-center align-items-center d-flex border-radius-normal pe-none"></div>
                                                <div class="text-it-white position-absolute top-50 start-50 translate-middle-y pe-none">
                                                    +3
                                                </div>
                                            </picture>
                                        </div>
