@model TimViec.Models.Company

@{
    ViewData["Title"] = "Edit_company";
}

<div class="pagetitle">
    <h1>Thông tin công ty</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="CompanyManage" asp-controller="Company" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Thông tin công ty</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<hr />
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="~/Company/Image/@Html.DisplayFor(model => model.Image)" alt="Profile" class="rounded-circle">             
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pt-3">
                <form asp-action="Edit_company">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name_company" class="control-label"></label>
                        <input asp-for="Name_company" class="form-control" />
                        <span asp-validation-for="Name_company" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input type="file" asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Company_size" class="control-label"></label>
                        <input asp-for="Company_size" class="form-control" />
                        <span asp-validation-for="Company_size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Company_type" class="control-label"></label>
                        <input asp-for="Company_type" class="form-control" />
                        <span asp-validation-for="Company_type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityID" class="control-label"></label>
                        <select asp-for="CityID" class="form-control" asp-items="ViewBag.CityID"></select>
                        <span asp-validation-for="CityID" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" style="float: right"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>