@{
    // Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<h2 style="text-align: center">Thông tin cá nhân</h2>

@* <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css" /> *@
@* <link rel="stylesheet" href="/Identity/css/site.css"  /> *@

<div>
    <hr />
    <div class="row">
     
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>
</div>

@* <script src="/Identity/lib/jquery/dist/jquery.js"></script>
<script src="/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/Identity/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>

<script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@

@section Scripts {

    @RenderSection("Scripts", required: false)
}
